nav{
    margin-bottom: 10px;
    background-color: #ddd;
}

.list-group a{
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

.border-success{
    border-color: #5cb85c;
    background-color: #5cb85c !important;
    color: #ffffff !important;
}

.border-danger{
    border-color: #d9534f;
    background-color:  #d9534f !important;
    color: #ffffff !important;
}

.border-warning{
    border-color: #f0ad4e;
    background-color: #f0ad4e !important;
    color: #ffffff !important;
}

.bg-dead{
    border-color: #292b2c;
    background-color: #292b2c !important;
    color: #ffffff !important;
}


.form-control+.input-group-addon{
    padding:0;
}

/*.list-group{
    height: 400px;
    overflow-y: auto;
}*/

.mynav{
      padding: 0.5rem 1rem;
      background-color: #f7f7f7;
    
}

.iphone-bg{
    width: 467px;
    height: 800px;
    background: center top no-repeat url(../img/devices-sprite.jpg);
    background-size: 467px;
    margin: 0 auto;
    text-align: center;
    /*position: absolute;*/
}

.iphone-bg>div{
    margin-top: 85px;
    margin-left: 73px;
    width: 320px;
    height: 568px;
    text-align: center;
    background-color: white;
}
.carousel,.carousel-item{
    height: 568px;
    width: 320px;
}
.carousel-indicators, .carousel-control-prev-icon , .carousel-control-next-icon{
    filter:brightness(0);
}
.img-fluid {
    width: 100%;
    height: 100%;
}